
/* Estilos - Styles */
.cuadricula {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.cuadricula div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.muro {
    background-color: blue;
}

.poder-bolita {
    background-color: green;
    border-radius: 10px;
}

.parpadeante {
    background-color: red;
}

.menique {
    background-color: pink;
}

.tinta {
    background-color: cyan;
}

.clyde {
    background-color: orange;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.fantasma-asustado {
    background-color: aquamarine;
}
